.infinite-scroll {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin-top: 20px;
  margin-bottom: 30px;
  gap: 20px;
}

